# canonical name and email                     alias to rewrite
Mercy Muiruri <mercymuiruri2027@u.northwestern.edu>     Mercy Muiruri <147347796+merc-cyy@users.noreply.github.com>
Eric Oh <ericoh121@gmail.com>     Eric Oh <157835858+ericjhoh@users.noreply.github.com>
Valary Anguzuzu <anguzuzuvalary@gmail.com>     Valary Anguzuzu <149324620+ValaryAnguzuzu@users.noreply.github.com>
Christopher Ridad <christopherridad@gmail.com>     Chris <christopherridad@gmail.com>
Christopher Ridad <christopherridad@gmail.com>     christopher-ridad <157936463+christopher-ridad@users.noreply.github.com>
Corey Zhang <coreyzhang2020@outlook.com>     Corey Zhang <82017428+coreyczhang@users.noreply.github.com>
Stanley Du <dustanley07@gmail.com>     dudu-theman <dustanley07@gmail.com>
Wenpeng Cai <83854350+TXJ-DSK@users.noreply.github.com>     TXJ-DSK <83854350+TXJ-DSK@users.noreply.github.com>
Eric Oh <ericoh121@gmail.com>     ericjhoh <ericoh121@gmail.com>
Corey Zhang <coreyzhang2020@outlook.com>     coreyczhang <coreyzhang2020@outlook.com>