## create a file in this backend folder like this call it .env and add these values
## the real keys will be sent privately and MAKE SURE YOU DONT COMMIT YOUR .env FILES!

GEMINI_API_KEY=""
GEMINI_PROJECT_NAME=""
GEMINI_PROJECT_NUMBER=0

